[Unit]
Description=Docker VXCAN plugin
Before=docker.service
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /run/docker/plugins
ExecStart=/usr/bin/rustycan4docker
TimeoutStopSec=10s
KillMode=mixed
KillSignal=SIGTERM
ExecStopPost=/bin/rm -f /run/docker/plugins/rustyvxcan.sock

[Install]
WantedBy=multi-user.target